service cloud.firestore {
  match /databases/{database}/documents {

    // Check if a particular user made a request
    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if isUserAuthenticated(resource.data.authorUid);
    }
    match /comments/{commentId} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if isUserAuthenticated(resource.data.authorUid);
    }
  }
}
