<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="mdl-layout-title" routerLink="/">Progress Report</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/admin">admin</a>
        <a class="mdl-navigation__link" *ngIf="afAuth.authState | async">
          <!-- Contact Chip -->
          <span class="mdl-chip mdl-chip--contact">
            <img class="mdl-chip__contact" [src]="afAuth.auth.currentUser?.photoURL">
            <span class="mdl-chip__text">{{ afAuth.auth.currentUser?.displayName }}</span>
          </span>
        </a>
        <a class="mdl-navigation__link" *ngIf="!(afAuth.authState | async)" (click)="login()">Login</a>
        <a class="mdl-navigation__link" *ngIf="afAuth.authState | async" (click)="logout()">Logout</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <a class="mdl-layout-title" routerLink="/">Progress Report</a>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" *ngIf="afAuth.authState | async">
        <!-- Contact Chip -->
        <span class="mdl-chip mdl-chip--contact">
          <img class="mdl-chip__contact" [src]="afAuth.auth.currentUser?.photoURL">
          <span class="mdl-chip__text">{{ afAuth.auth.currentUser?.displayName }}</span>
        </span>
      </a>
      <a class="mdl-navigation__link" routerLink="/admin">admin</a>
      <a class="mdl-navigation__link" *ngIf="!(afAuth.authState | async)" (click)="login()">Login</a>
      <a class="mdl-navigation__link" *ngIf="afAuth.authState | async" (click)="logout()">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
