<div>
  <img [src]="afAuth.auth.currentUser?.photoURL">
  <a>{{ afAuth.auth.currentUser?.displayName }}</a>
</div>

<button *ngIf="!afAuth.auth.currentUser" (click)="login()">login with facebook</button>
<button *ngIf="afAuth.auth.currentUser" (click)="logout()">logout</button>

<hr>

<input type="text" [(ngModel)]="postTitleInput" (keyup.enter)="addPost()">

<ul>
  <li *ngFor="let post of posts | async; trackBy: trackById">
    {{ post | json }}
    <button (click)="removePost(post)">delete post</button>
    <br>
    <input type="text" (keyup.enter)="addComment(post, commentInput)" #commentInput>
    <ul>
      <li *ngFor="let comment of post.comments">
        {{ comment }}
        <button (click)="removeComment(post, comment)">delete comment</button>
      </li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>
