<!-- <pre>{{ courses | async | json }}</pre> -->

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" appMdl>
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">courseNo</th>
      <th class="mdl-data-table__cell--non-numeric">name</th>
      <th class="mdl-data-table__cell--non-numeric">startOn</th>
      <th class="mdl-data-table__cell--non-numeric">endOn</th>
      <th>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="/admin/courses/add">Add</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses | async">
      <td class="mdl-data-table__cell--non-numeric">{{ course.courseNo }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ course.name }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ course.startOn }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ course.endOn }}</td>
      <td>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [routerLink]="['edit', course.id]">Edit</a>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="removeCourse(course)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
